html, body {
    margin: 0;
    height: 100%;
 }

 #canvas {
    width: 100%;
    height: 100%;
    display: block;
 }

 .targetgui {
   position: absolute; 
   top: 0; 
   right: 0;
 }

 .armgui {
   width: 400px;
   /* height: 400px;  */
   position: absolute; 
   bottom: 0; 
   right: 50%;
 }